* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 10px;
    display: block;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.menu {
    list-style-type: none;
    display: flex;
    margin-top: 57px;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.logo {
    margin-top: 63px;
}

.slider-h4 {
    color: #43a047;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    color: #43a047;
    letter-spacing: 1.8px;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    letter-spacing: -2.4px;
    text-transform: uppercase;
}

.slider-text {
    width: 458px;
    padding-bottom: 240px;
    padding-top: 286px;
}

.slider-p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 32px;
    margin-top: 34px;
}

.button {
    color: #212121;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    display: block;
    color: #212121;
    letter-spacing: 3.6px;

    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;

}

.button:active {
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.button:hover {
    background-color: #f9f9f9;
}



.button-arrow {

    opacity: 100;
    width: 9px;
    height: 12px;
    margin-left: 12px;
}

.circle-pagination {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #212121;
    opacity: 0.2;
    border-radius: 50%;
    margin: 5px;
}

.circle-pagination:hover {
    opacity: 1;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
}

.circle-pagination-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    opacity: 1;
}

.featured {
    padding-bottom: 120px;
    padding-top: 120px;
}

.featured-menu {
    list-style-type: none;
    display: flex;
}

.featured-menu-link {
    color: #6c6c6c;
  font-size: 36px;
  text-decoration: none;
  font-weight: 700;
  padding: 0 20px 20px 9px;
  border-bottom: 1px solid #6c6c6c;
  display: block;
}
.featured-menu-link-active {
   color: #212121;
  border-bottom: 3px solid #212121;
  padding-bottom: 18px;
}
.featured-menu-link:hover {
     color: #212121;
  border-bottom: 3px solid #212121;
  padding-bottom: 18px;
}

.featured-new {
    display: flex;
}

.explore-link {
    color: #212121;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    color: #212121;
    letter-spacing: 3.6px;
    text-decoration: none;
    display: block;
}


.featured-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

/*
.featured-product-active {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.1;

}
*/



.circle-button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
border-radius: 24px;
background-color: #ffffff;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
}
.circle-button:hover {
    background-color: #f9f9f9;
}
.circle-button:active {
     box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}



.promo1 {
    background-image: url(img/promo-img1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 683px;
}

.promo2 {
    background-image: url(img/promo-img.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 683px;
}

.promo {
    height: 683px;
    display: flex;
}

.promo-h4 {
    color: #1e88e5;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    color: #1e88e5;
    letter-spacing: 1.8px;
    margin-bottom: 14px;
}

.promo-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 34px;
    margin-top: 24px;
    margin-right: 259px;
}


}








.promo-text {
    width: 374px;
}

.trending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
}

.trending-h2 {
    color: #212121;
font-size: 36px;
font-weight: 700;
}

.trending {
    padding-bottom: 120px;
    padding-top: 119px;
}

.trending-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trending-product {
    width: 370px;
    height: 370px;
    margin-bottom: 30px;
    border: 1px solid transparent;
}
.trending-product:hover {
    border: 1px solid #212121;
}

.explore:hover {
    border-bottom: 1px solid #6c6c6c;
}


.featured-product-active {
    background-image: url(img/product-1.jpg);
    width: 270px;
    height: 270px;
    opacity: 0.2;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #212121;
}


.product-link {
    position: relative;
    top: 0;
    left: 0;
}

.arrow {
  color: #212121;
    opacity: 1;
    width: 12px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 22px;
}

.featured-h4 {
    color: #212121;
font-size: 22px;
font-weight: 700;
    margin-bottom: 23px;
    margin-top: 19px;
}

.featured-p {
    color: #6c6c6c;
font-size: 14px;
font-weight: 300;
    width: 206px;
}

.featured-product {
    width: 270px;
    height: 270px;
    border: 1px solid transparent;
}
.featured-product:hover .product-content {
    display: flex;
}


.product-content {
    height: 100%;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    
}

.product-h3 {
    color: #212121;
font-size: 22px;
    text-align: center;
font-weight: 700;
}

.product-p {
   color: #6c6c6c;
font-size: 14px;
font-weight: 300;
    text-align: center;
}

.button-product {
      width: 48px;
    line-height: 53px;
}

.slider-2 {
    height: 800px;
    background-image: url(img/slider.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 120px;
    height: 570px;

}

.promo-big {
    width: 570px;
    height: 570px;
}

.promo-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
}

.promo-small {
    width: 270px;
    height: 270px;
}

.slider2-h4 {
    color: #e53935;
color: #ffffff;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;

color: #e53935;
letter-spacing: 1.8px;
}

.promo-big-text {
    width: 332px;
    height: 199px;
    padding-left: 30px;
    padding-bottom: 185px;
    padding-top: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-big-h4 {
    color: #1e88e5;
color: #ffffff;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;

color: #1e88e5;
letter-spacing: 1.8px;
}

.promo-big-p {
    color: #6c6c6c;
font-size: 14px;
font-weight: 300;
}

.mobile-app {
    width: 100%;
    height: 516px;
}

.mb-app-text {
    width: 415px;
    height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 125px;
    
    padding-left: 98px;
}

.mb-h4 {
    color: #6c6c6c;
color: #ffffff;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;

color: #6c6c6c;
letter-spacing: 1.8px;
}

.mb-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -2.4px;
}

.mb-p {
    color: #6c6c6c;
font-size: 22px;
font-weight: 300;
}

.button-mbios {
    
}

.button-mbandroid {
   
}

.app-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 33px;
    margin-right: 10px;
    margin-bottom: 120px;
}
